html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("./fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("./fonts/roboto-v27-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  background: url(../img/header/main-bg.jpg);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.container-big {
  margin: 0 auto;
  max-width: 1400px;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0px 15px;
}

.header {
  background: url(../img/header/background.jpg) no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.nav {
  padding: 54px 15px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__button {
  background: none;
  border: none;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 30px;
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 200px;
}
.nav__button:hover {
  color: #eedada;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__list li {
  display: inline-block;
  margin-right: 15px;
}
.nav__list a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.nav__list a:hover {
  -webkit-transition: 200ms;
  transition: 200ms;
  color: #cfcccc;
}

.header .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10% 0px;
}
.header .body__title {
  color: white;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 48px;
}
.header .body__number {
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 700;
  color: white;
}
.header .body__description {
  color: white;
  font-size: 16px;
  opacity: 0.4;
}
.header .body__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header .body__block {
  width: 100px;
  height: 110px;
  background: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}
.header .body__block:last-child {
  margin-right: 0;
}

.under-header {
  background-color: #121212;
  color: white;
}
.under-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
}
.under-header__button {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 14px 30px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}
.under-header__finished {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 58px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.under-header__successful-text, .under-header__all-text {
  margin-right: 30px;
  opacity: 0.4;
}
.under-header__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.under-header__successful {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rub {
  font-family: "PT Sans", serif;
}

.progress {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.progress__earned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.progress__text {
  margin-right: 30px;
}
.progress__number {
  opacity: 0.4;
}
.progress progress {
  width: 600px;
  height: 6px;
  background: white;
  border: none;
}
.progress progress::-webkit-progress-bar {
  background: white;
}
.progress progress::-webkit-progress-value {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.progress progress::-moz-progress-bar {
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}
.progress__numbers {
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.whatwedo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 942px;
}
.whatwedo__image img {
  width: 526px;
}
.whatwedo__body {
  height: 270px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.whatwedo__title {
  font-size: 48px;
  font-weight: 700;
  color: white;
}
.whatwedo__text {
  width: 636px;
  color: white;
  font-size: 16px;
  line-height: 160%;
}

@media (max-width: 1280px) {
  .under-header__body {
    height: 120px;
  }
  .under-header__button {
    padding: 12px 25px;
    font-size: 14px;
  }
  .under-header__finished {
    height: 50px;
  }
  .under-header__successful-text, .under-header__all-text {
    margin-right: 20px;
  }

  .progress {
    height: 50px;
    font-size: 14px;
  }
  .progress__text {
    margin-right: 20px;
  }
  .progress progress {
    width: 520px;
    height: 6px;
    background: white;
  }

  .header {
    background-size: cover;
  }
  .header .nav__icon {
    width: 25px;
  }
  .header .body {
    padding: 10% 0px;
  }
  .header .body__title {
    font-size: 48px;
    margin-bottom: 32px;
  }
  .header .body__number {
    font-size: 28px;
  }
  .header .body__description {
    font-size: 12px;
  }
  .header .body__block {
    width: 65px;
    height: 70px;
  }

  .whatwedo__row {
    height: 670px;
  }
  .whatwedo__image img {
    width: 400px;
  }
  .whatwedo__body {
    height: 230px;
    padding-bottom: 120px;
  }
  .whatwedo__title {
    font-size: 38px;
  }
  .whatwedo__text {
    width: 500px;
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .under-header__body {
    height: 120px;
  }
  .under-header__button {
    padding: 12px 25px;
    font-size: 13px;
  }
  .under-header__finished {
    height: 50px;
  }
  .under-header__finished {
    height: 50px;
    font-size: 14px;
  }
  .under-header__successful-text, .under-header__all-text {
    margin-right: 20px;
  }

  .progress {
    height: 50px;
  }
  .progress__text {
    margin-right: 20px;
  }
  .progress progress {
    height: 4px;
    width: 350px;
    height: 6px;
    background: white;
  }

  .header .nav {
    padding-top: 36px;
  }
  .header .nav__icon {
    width: 18px;
  }
  .header .nav__list li {
    margin-right: 10px;
  }
  .header .nav__list a {
    font-size: 12px;
  }
  .header .nav__button {
    font-size: 12px;
    line-height: 24px;
    padding: 8px 20px;
    width: 150px;
  }
  .header .body__title {
    font-size: 42px;
    margin-bottom: 28px;
  }
  .header .body__number {
    font-size: 22px;
  }
  .header .body__description {
    font-size: 10px;
  }
  .header .body__block {
    margin-right: 20px;
    width: 52px;
    height: 60px;
  }

  .whatwedo__row {
    height: 520px;
  }
  .whatwedo__image img {
    width: 300px;
  }
  .whatwedo__body {
    height: 210px;
    padding-bottom: 100px;
  }
  .whatwedo__title {
    font-size: 25px;
  }
  .whatwedo__text {
    width: 380px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .under-header__body {
    height: 80px;
  }
  .under-header__button {
    width: 60px;
    padding: 8px 13px;
    font-size: 8px;
  }
  .under-header__finished {
    height: 50px;
  }
  .under-header__finished {
    height: 30px;
    font-size: 8px;
  }
  .under-header__successful-text, .under-header__all-text {
    margin-right: 10px;
  }

  .progress {
    height: 40px;
    font-size: 12px;
  }
  .progress__text {
    margin-right: 10px;
  }
  .progress progress {
    width: 210px;
    height: 3px;
    background: white;
  }

  .header .nav {
    padding-top: 18px;
    padding-left: 10px;
  }
  .header .nav__icon {
    width: 16px;
  }
  .header .nav__list li {
    margin-right: 5px;
    line-height: 16px;
  }
  .header .nav__list a {
    font-size: 10px;
  }
  .header .nav__button {
    font-size: 9px;
    line-height: 16px;
    padding: 5px 12px;
    width: 110px;
  }
  .header .container {
    padding: 0px 10px;
  }
  .header .body__title {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .header .body__number {
    font-size: 17px;
  }
  .header .body__description {
    font-size: 8px;
  }
  .header .body__block {
    width: 40px;
    height: 50px;
    margin-right: 10px;
  }

  .whatwedo__row {
    height: 300px;
  }
  .whatwedo__image {
    margin-right: 20px;
  }
  .whatwedo__image img {
    width: 180px;
  }
  .whatwedo__body {
    height: 80px;
    padding-bottom: 40px;
  }
  .whatwedo__title {
    font-size: 20px;
  }
  .whatwedo__text {
    width: auto;
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  .under-header__body {
    height: 60px;
  }
  .under-header__button {
    width: 55px;
    padding: 4px 6px;
    font-size: 8px;
  }
  .under-header__finished {
    height: 15px;
    font-size: 6px;
  }
  .under-header__successful-text, .under-header__all-text {
    margin-right: 1px;
  }

  .progress {
    height: 25px;
    font-size: 6px;
  }
  .progress__text {
    margin-right: 5px;
  }
  .progress progress {
    width: 120px;
  }

  .header .nav {
    padding-top: 12px;
  }
  .header .nav__icon img {
    margin-top: 5px;
    width: 18px;
  }
  .header .nav__list li {
    margin-right: 4px;
  }
  .header .nav__list a {
    font-size: 6px;
  }
  .header .nav__button {
    margin-top: 2px;
    font-size: 6px;
    line-height: 12px;
    padding: 3px 6px;
    width: 80px;
  }
  .header .body__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .header .body__number {
    font-size: 10px;
  }
  .header .body__description {
    font-size: 4px;
  }
  .header .body__block {
    width: 22px;
    height: 30px;
    margin-right: 5px;
  }

  .whatwedo__row {
    height: 200px;
  }
  .whatwedo__title {
    font-size: 14px;
  }
  .whatwedo__body {
    height: 50px;
  }
  .whatwedo__text {
    font-size: 5px;
  }
  .whatwedo__image img {
    width: 120px;
  }
}